body {
    text-align: center;
    background: rgb(165, 165, 165);
}

#form {
    background: rgb(62, 62, 62);
    color: rgb(210, 210, 210);
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
    display: inline-block;
}

.cost {
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
    background: rgb(165, 165, 165);
    color: black;
}

.div {
    padding: 10px;
}